<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      MQTT-APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Temperatura (°C)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h3>{{temp}}</h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Umidade (%)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h3>{{humid}}</h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pressão (hPa)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h3>{{press}}</h3>
    </ion-card-content>
  </ion-card>

</ion-content>
